@font-face {
  font-family: 'opensans';
  src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'francois';
  src: url('../fonts/FrancoisOne-Regular.ttf');
}

html *
{
   font-size: 1em !important;
   font-family: opensans !important;
}
h1, h2, h3, h4, h5, h6 {font-family: francois !important;}
h1{
  font-size: 2em !important ;
}
h2{
  font-size: 1.5em !important ;
}
h3{
  font-size: 1em !important ;
}

.container {
    max-width: 960px;
  }
  
  /*
   * Custom translucent site header
   */
  
  .site-header {
    background-color: rgb(255, 255, 255);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  .logo{
    font-family: francois !important;
    font-weight: bold;
    font-size: 2em  !important;
  }
  .logo span{
    color:#dc3445;
    font-weight: bold;
  }
  .imageoveraly{
    position: absolute;
  bottom: 8px;
  left: 16px;
  }
  .teaser{
   background-color: white;
   opacity: 0.9;
   color: black;
  }

  .default-margin
  {
    margin-top: 12px;
    margin-bottom: 24px;
  }

  .modal-border{
    border: 6px solid #000;
    padding: 1em;
    border-radius: 4px;
  }
  .support{
    background-color:#dc3445;
    color: white;
    display: block;
    padding: 6px;
    margin: 6px 0px 6px 0px;
    padding: 0.8em;
    border-radius: 4px;

  }

  #header {
    background-image:url("../img/header.webp");
    text-align:center;
  }

#sumitionresult {
  display: none;
}
  