@font-face {
  font-family: 'opensans';
  src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'francois';
  src: url('../fonts/FrancoisOne-Regular.ttf');
}

html *
{
   font-size: 1em !important;
   font-family: opensans !important;
}
h1, h2, h3, h4, h5, h6 {font-family: francois !important;}

.container {
    max-width: 960px;
  }
  
  /*
   * Custom translucent site header
   */
  
  .site-header {
    background-color: rgb(255, 255, 255);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  .default-margin
  {
    margin-top: 12px;
    margin-bottom: 24px;
  }

  .modal-border{
    border: 6px solid #000;
    padding: 1em;
    border-radius: 4px;
  }

  #header {
    background-image:url("../img/header.webp");
    text-align:center;
  }

#sumitionresult {
  display: none;
}
  